<!DOCTYPE html>
<html>
	<head>
	<title>HangoutBot</title>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	</head>
<body>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<div class="g-hangout" data-render="createhangout"></div>
	<h1>
		Bot
		'W': forward,
        'S': backward,
        'A': left,
        'D': right,

        Camera
		'w': up,
		's': down,
		'a': left,
		'd': right
	</h1>
</body>
<script type="text/javascript">
	$(document).on("keypress", function (e) {
		// w = 87, a = 65, s = 83, d = 68
		var keyMapping = {
			'119' : "w", 
			'97' : "a", 
			'115': "s", 
			'100' : "d"
			"87" : "W",
			"83" : "S",
			"65" : "A",
			"68" : "D"
		}
		console.log(e.keyCode)
		if(keyMapping[e.keyCode]){
			$.ajax({
				url: "http://113.193.254.58/robot/api/v1.0/move",
				type: "POST",
				data: {ch : keyMapping[e.keyCode]}
			}).done(function(response) {
				console.log(response)
			});
		}
	});
</script>
</html>